{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Registrarse</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        {% if form.username.errors %}
            <p class="error">{{ form.username.errors }}</p>
        {% endif %}

        <label>{{form.password1.label}}</label>
        {{form.password1}}
        {% if form.password1.errors %}
            <p class="error">{{ form.password1.errors }}</p>
        {% endif %}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        {% if form.password2.errors %}
            <p class="error">{{ form.password2.errors }}</p>
        {% endif %}

        <input style="margin-top:10px;" class="button" type="submit" value="Register">
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Entrar con mi cuenta</a></p>
</div>

{% endblock content %}