{%extends 'base/main.html'%}
{%block content%}
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Cerrar Sesión</a> {% else %}
<a href="{% url 'login' %}">Iniciar Sesión</a> {% endif %}

<hr>
<h1>Mi Lista {{color}}</h1>

<a href="{% url 'task-create'%}">Agregar Tarea</a>

<form method="GET">
    <input type='text' name='search-area' value="{{search_input}}">
    <input class="button" type="submit" value='Buscar'>
</form>

<table>
    <tr>
        <th>Tarea</th>
        <th></th> <!-- Campo vacío para organizar vista de tabla-->
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Ver</a></td>
        <td><a href="{% url 'task-update' task.id%}">Editar</a></td>
        <td><a href="{% url 'task-delete' task.id%}">Eliminar</a></td>
    </tr>
    {% empty %}
    <h3>No hay mas tareas en la lista</h3>
    {% endfor %}
</table>
{%endblock content%}
